node {
	shape: freeplane;
	stroke-mode: plain;
	size-mode: fit;
	stroke-width: 3px;

	fill-mode: gradient-vertical;
    fill-color: white;

    padding: 10px;
    text-padding: 10px;
}

node.Procedure {
    text-style: bold;
    text-size: 12px;
    text-color: #222222;
	stroke-color: #1600AA;
	fill-color: #1600AA55, #FFFFFF00;
}

node.ProcedureError {
    text-color: #b30000;
	stroke-color: #DE00AAAA;
	fill-color: #DE00AA33, #FFFFFF00;
}

node.Block {
    text-color: #444444;
	stroke-color: #8000CE;
	fill-color: #8000CE33, #FFFFFF00;
}

node.BlockError {
    text-color: #b30000;
	stroke-color: #E400CEAA;
	fill-color: #E400CE33, #FFFFFF00;
}

node.Ghost {
    text-style: bold;
    text-size: 12px;
    text-color: #22222255;
	stroke-color: #1600AA55;
	fill-color: #1600AA33, #FFFFFF00;
}


edge {
	shape: freeplane;
	arrow-size: 5px;
}

edge.ProcedureCall {

}

edge.Stack_Call {
    stroke-mode: dashes;
}

edge.BlockSeq_Call {
	shape: cubic-curve;
    stroke-mode: dots;
}
